allergies
alphametics
clock
connect
diamond
difference-of-squares
flatten-array
food-chain
forth
grade-school
grains
largest-series-product
linked-list
list-ops
meetup
minesweeper
nth-prime
ocr-numbers
palindrome-products
point-mutations
prime-factors
proverb
pythagorean-triplet
queen-attack
rational-numbers
rectangles
saddle-points
say
secret-handshake
series
spiral-matrix
strain
sublist
sum-of-multiples
trinary
twelve-days
variable-length-quantity
