allergies
alphametics
clock
connect
diamond
difference-of-squares
flatten-array
food-chain
forth
grade-school
grains
linked-list
list-ops
meetup
minesweeper
nth-prime
palindrome-products
point-mutations
prime-factors
pythagorean-triplet
queen-attack
rational-numbers
rectangles
saddle-points
scrabble-score
secret-handshake
spiral-matrix
strain
sublist
sum-of-multiples
twelve-days
variable-length-quantity
