allergies
alphametics
atbash-cipher
beer-song
binary
binary-search
binary-search-tree
bowling
bracket-push
change
circular-buffer
clock
complex-numbers
connect
crypto-square
diamond
difference-of-squares
diffie-hellman
etl
flatten-array
food-chain
forth
gigasecond
grade-school
grains
hexadecimal
isbn-verifier
kindergarten-garden
largest-series-product
linked-list
list-ops
luhn
matrix
meetup
minesweeper
nth-prime
ocr-numbers
octal
palindrome-products
perfect-numbers
phone-number
pig-latin
point-mutations
prime-factors
proverb
pythagorean-triplet
queen-attack
rational-numbers
react
rectangles
robot-name
robot-simulator
roman-numerals
rotational-cipher
run-length-encoding
saddle-points
say
scrabble-score
secret-handshake
series
sieve
spiral-matrix
strain
sublist
sum-of-multiples
transpose
triangle
trinary
twelve-days
variable-length-quantity
