# {{ .Spec.Name }}

{{ .Spec.Description -}}
{{- with .Hints }}
{{ . }}
{{ end }}
{{ with .TrackInsert -}}
{{ . }}
{{ end }}
## Submitting Solutions

Once you have a solution ready, you can submit it using:

```bash
exercism submit {{ .Spec.Slug }}.js
```

## Submitting Incomplete Solutions

It's possible to submit an incomplete solution so you can see how others have
completed the exercise.
{{ with .Spec.Credits }}
## Exercise Source Credits

{{ . }}
{{ end }}
