# This workflow will do a clean install of node dependencies and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: javascript / master

on:
  push:
    branches: [master]

jobs:
  precheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js LTS (14.x)
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.x

      - name: Install project dependencies
        run: npm ci

      - name: Run exercism/javascript ci precheck (checks config, lint code, and runs tests) for all exercises
        run: npx babel-node scripts/ci-check

  ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 15.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.1.5
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install project dependencies
        run: npm ci

      - name: Run exercism/javascript ci (checks config, lint code, and runs tests) for all exercises
        run: npx babel-node scripts/ci
