name: javascript / format

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout code'
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - name: Use Node.js LTS (16.x)
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516
        with:
          node-version: '16'
      - name: Install project development dependencies
        run: npm i
      - name: 'Verify formatting of all files'
        run: ./bin/check-formatting.sh
