name: javascript / format

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  verify:
    runs-on: ubuntu-24.04
    steps:
      - name: 'Checkout code'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: 'Verify formatting of all files'
        run: ./bin/check-formatting.sh
